	
	/*background-color*/
	.backg{background-color: #000;}
	.backgw{background-color: #fff;}
	.backgr{background-color: #F44336;}
	.backgy{background-color: #ff0;}
	.backgb{background-color: #03a9f4;}
	.backgbs{background-color:#9eeded;}
	.backggy{background-color: #B5B4B4;}
	.backggn{background-color: #00aa90;}
	/*color*/
	.col{color: #000;}
	.colw{color: #fff;}
	.colr{color: #F44336;}
	.coly{color: #ff0;}
	.colb{color:  #03a9f4;}
	.colgy{color: #B5B4B4;}
	.colgys{color: #696969;}
	.colgn{color: #00aa90;}

	/*font-size:px*/
	.fonts14{font-size: 14px;}
	.fonts16{font-size: 16px;}
	.fonts18{font-size: 18px;}
	.fonts20{font-size: 20px;}
	.fonts22{font-size: 22px;}
	.fonts24{font-size: 24px;}
	.fonts26{font-size: 26px;}
	.fonts28{font-size: 28px;}
	.fonts30{font-size: 30px;}
	
	.fontw400{font-weight: 400;}
	.fontw700{font-weight: 700;}
	.fontw1000{font-weight: 1000;}
	
	/*font-family*/
	.fontfa{font-family:Arial;}
	.fontft{font-family:Tahoma;}
	.fontfv{font-family:Verdana;}
	.fontfs{font-family:Simsun;}
	.fontfl{font-family:Lucida Console;}
	.fontfwy{font-family:Microsoft Yahei;}

	/* text-align */
	.textc{text-align:center;}
	.textr{text-align:right;}
	.textl{text-align:left;}
	.textj{text-align:justify;}
	/*text-decoration*/
	.textdn{text-decoration: none;}
	.textdu{text-decoration: underline;}

	/*letter-spacing*/
	.letters1{letter-spacing: 0.5em;}
	.letters2{letter-spacing: 1em;}
	.letters3{letter-spacing: 1.5em;}
	.letters4{letter-spacing: 2em;}

	/* position */
	.posr{position:relative;}
	.posa{position:absolute;}

	/*box-shadow*/
	.boxsb{box-shadow:0px 0px 20px 0px #03a9f4;}
	.boxsg{box-shadow:0px 0px 20px 0px #B5B4B4;}

	/* float */
	.flol{float:left;}
	.flor{float:right;}

	/*z-index*/
	.zin-1{z-index:-1;}
	.zin1{z-index:1;}

	/*border-solid*/
	.bors{border: solid #000 1px;}
	.borsw{border: solid #fff 1px;}
	.borsg{border: solid #B5B4B4 1px;}
	.borsr{border: solid #F44336 1px;}
	.borsy{border: solid #ff0 1px;}
	.borsb{border: solid #03a9f4 1px;}
	.borsg{border: solid #00aa90 1px;}

	/*border-solid -bottom*/
	.borsb{border:none; border-bottom:solid #000 1px}
	.borsbw{border:none; border-bottom:solid #fff 1px}
	.borsbg{border:none; border-bottom:solid #B5B4B4 1px}
	.borsbr{border:none; border-bottom:solid #F44336 1px}
	.borsby{border:none; border-bottom:solid #efbb24 1px}
	.borsbb{border:solid #03a9f4 1px}
	.borsbg{border:none; border-bottom:solid #00aa90 1px}


	/*border-radius*/
	.borr5{border-radius:5px}
	.borr10{border-radius:10px}
	.borr15{border-radius:15px}
	.borr20{border-radius:20px}
	.borr25{border-radius:25px}
	/*border-radius-top*/
	.borrt5{border-radius:5px 5px 0px 0px}
	.borrt10{border-radius:10px 10px 0px 0px}
	.borrt15{border-radius:15px 15px 0px 0px}
	.borrt20{border-radius:20px 20px 0px 0px}
	.borrt25{border-radius:25px 25px 0px 0px}
	/*border-radius-bottom*/
	.borrb5{border-radius:0px 0px 5px 5px}
	.borrb10{border-radius:0px 0px 10px 10px}
	.borrb15{border-radius:0px 0px 15px 15px}
	.borrb20{border-radius:0px 0px 20px 20px}
	.borrb25{border-radius:0px 0px 25px 25px}
	/*border-radius-right*/
	.borrr5{border-radius:0px 5px 5px 0px} 
	.borrr10{border-radius:0px 10px 10px 0px}
	.borrr15{border-radius:0px 15px 15px 0px}
	.borrr20{border-radius:0px 20px 20px 0px}
	.borrr25{border-radius:0px 25px 25px 0px}
	/*border-radius-left*/
	.borrl5{border-radius:5px 0px 0px 5px}
	.borrl10{border-radius:10px 0px 0px 10px}
	.borrl15{border-radius:15px 0px 0px 15px}
	.borrl20{border-radius:20px 0px 0px 20px}
	.borrl25{border-radius:25px 0px 0px 25px}

	/*margin:%*/
	.marpc0{margin: 0%;}
	.marpc1{margin: 1%;}
	.marpc2{margin: 2%;}
	.marpc5{margin: 5%;}
	.marpc10{margin: 10%;}
	.marpc15{margin: 15%;}
	.marpc20{margin: 20%;}
	.marpc25{margin: 25%;}
	/*margin-top&bottom:%*/
	.martbpc1{margin: 1% 0;}
	.martbpc2{margin: 2% 0;}
	.martbpc5{margin: 5% 0;}
	.martbpc10{margin: 10% 0;}
	.martbpc15{margin: 15% 0;}
	.martbpc20{margin: 20% 0;}
	.martbpc25{margin: 25% 0;}
	/*margin-left&right:%*/
	.marlrpc0{margin:0 0%;}
	.marlrpc1{margin:0 1%;}
	.marlrpc2{margin:0 2%;}
	.marlrpc5{margin:0 5%;}
	.marlrpc10{margin:0 10%;}
	.marlrpc15{margin:0 15%;}
	.marlrpc20{margin:0 20%;}
	.marlrpc25{margin:0 25%;}

	/*margin:px*/
	.mar0{margin: 0px;}
	.mar1{margin: 1px;}
	.mar2{margin: 2px;}
	.mar5{margin: 5px;}
	.mar10{margin: 10px;}
	.mar15{margin: 15px;}
	.mar20{margin: 20px;}
	.mar25{margin: 25px;}
	/*margin-top&bottom:px*/
	.martb1{margin: 1px 0;}
	.martb2{margin: 2px 0;}
	.martb5{margin: 5px 0;}
	.martb10{margin: 10px 0;}
	.martb15{margin: 15px 0;}
	.martb20{margin: 20px 0;}
	.martb25{margin: 25px 0;}
	/*margin-left&right:px*/
	.marlr1{margin:0 1px;}
	.marlr2{margin:0 2px;}
	.marlr5{margin:0 5px;}
	.marlr10{margin:0 10px;}
	.marlr15{margin:0 15px;}
	.marlr20{margin:0 20px;}
	.marlr25{margin:0 25px;}

	/*padding:px*/
	.pad0{padding: 0px;}
	.pad1{padding: 1px;}
	.pad2{padding: 2px;}
	.pad5{padding: 5px;}
	.pad10{padding: 10px;}
	.pad15{padding: 15px;}
	.pad20{padding: 20px;}
	.pad25{padding: 25px;}
	.pad30{padding: 30px;}
	/*padding-top&bottom:px*/
	.padtb1{padding: 1px 0;}
	.padtb2{padding: 2px 0;}
	.padtb5{padding: 5px 0;}
	.padtb10{padding: 10px 0;}
	.padtb15{padding: 15px 0;}
	.padtb20{padding: 20px 0;}
	.padtb25{padding: 25px 0;}
	.padtb30{padding: 30px 0;}
	/*padding-left&right:px*/
	.padlr1{padding:0 1px;}
	.padlr2{padding:0 2px;}
	.padlr5{padding:0 5px;}
	.padlr10{padding:0 10px;}
	.padlr15{padding:0 15px;}
	.padlr20{padding:0 20px;}
	.padlr25{padding:0 25px;}
	.padlr30{padding:0 30px;}

	/*padding:%*/
	.padpc0{padding: 0%;}
	.padpc1{padding: 1%;}
	.padpc2{padding: 2%;}
	.padpc5{padding: 5%;}
	.padpc10{padding: 10%;}
	.padpc15{padding: 15%;}
	/*padding-top&bottom:%*/
	.padtbpc1{padding: 1% 0%;}
	.padtbpc2{padding: 2% 0%;}
	.padtbpc5{padding: 5% 0%;}
	.padtbpc10{padding: 10% 0%;}
	.padtbpc15{padding: 15% 0%;}
	/*padding-left&right:%*/
	.padlrpc1{padding:0% 1%;}
	.padlrpc2{padding:0% 2%;}
	.padlrpc5{padding:0% 5%;}
	.padlrpc10{padding:0% 10%;}
	.padlrpc15{padding:0% 15%;}

	/*auto*/
	.wida{width: auto;}
	.heia{height: auto;}
	.marlra{margin-left: auto; margin-right: auto;}

	/*width:px*/
	.wid100{width: 100px;}
	.wid200{width: 200px;}
	.wid300{width: 300px;}
	.wid400{width: 400px;}
	.wid500{width: 500px;}
	.wid600{width: 600px;}
	.wid700{width: 700px;}
	.wid800{width: 800px;}
	.wid900{width: 900px;}
	/*width:%*/
	.widpc10{width: 10%;}
	.widpc20{width: 20%;}
	.widpc25{width: 25%;}
	.widpc30{width: 30%;}
	.widpc33{width: 33.3%;}
	.widpc40{width: 40%;}
	.widpc50{width: 50%;}
	.widpc60{width: 60%;}
	.widpc66{width: 66.6%;}
	.widpc70{width: 70%;}
	.widpc75{width: 75%;}
	.widpc80{width: 80%;}
	.widpc90{width: 90%;}
	.widpc100{width: 100%;}

	/*height:px*/
	.hei100{height: 100px;}
	.hei200{height: 200px;}
	.hei300{height: 300px;}
	.hei400{height: 400px;}
	.hei500{height: 500px;}
	.hei600{height: 600px;}
	.hei700{height: 700px;}
	/*height:%*/
	.heipc50{height: 50%;}
	.heipc60{height: 60%;}
	.heipc70{height: 70%;}
	.heipc80{height: 80%;}
	.heipc90{height: 90%;}
	.heipc100{height: 100%;}
	/*box-shadow*/
	.boxs10{box-shadow:0 0 10px #B5B4B4;transition:all 0.6s;}
	.boxs15{box-shadow:0 0 15px #B5B4B4;transition:all 0.6s;}
	.boxs20{box-shadow:0 0 20px #B5B4B4;transition:all 0.6s;}
	
	.boxscb10{box-shadow:0 0 10px #03a9f4;transition:all 0.6s;}
	.boxscb15{box-shadow:0 0 15px #03a9f4;transition:all 0.6s;}
	.boxscb20{box-shadow:0 0 20px #03a9f4;transition:all 0.6s;}
	
	.boxsb10{box-shadow:10px 20px 10px #B5B4B4,-10px 20px 10px #B5B4B4;transition:all 0.6s;}
	.boxsb15{box-shadow:10px 20px 15px #B5B4B4,-10px 20px 15px #B5B4B4;transition:all 0.6s;}
	.boxsb20{box-shadow:10px 20px 20px #B5B4B4,-10px 20px 20px #B5B4B4;transition:all 0.6s;}
	/*colspan rowspan*/
	.cols2{colspan:2;}
	.cols3{colspan:3;}
	.cols4{colspan:4;}
	.cols4{colspan:5;}
	.cols4{colspan:6;}
	
	.rows2{rowspan:2;}
	.rows3{rowspan:3;}
	.rows4{rowspan:4;}
	.rows4{rowspan:5;}
	.rows4{rowspan:6;}
	
	.curp{cursor:pointer;}
	
	/*-------------------------------------*/
	div{
		color: #696969;
		font-family:Microsoft YaHei;
	}
	body{
		margin: 0;
	}
	a{
		text-decoration: none;
	}
	td{
		text-align:center;
		border-collapse: collapse;
	}
	th{
		text-align:center;
	}
	img{
		border:none;
	}
	/*------------以下伪类在需要的页面使用-------------*/
	
	/*a:link {color:#696969;}  /* grays  */
	a:visited {color:#B5B4B4;} /* gray   */
	/*a:hover {color:#03a9f4;} /* blue   */
	/*a:active {color:#ff0;}   /* yellow */
	
	/*-----------checkbox与label组合---------------*/
	/* 每个想更换checkbox样式的input标签，都要在input标签后增加一个label标签  */
	.checkbox{
	  display: none;
	}
	/* checkbox不被点击时的效果 */
	.checkbox+label{
		background-color: #FFF; 
	    border: 1px solid #C1CACA; 
	    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05); 
	    padding: 9px; 
	    border-radius: 5px; 
	    display: inline-block; 
	    position: relative; 
	}
	/*label点击瞬间的效果*/   
	.checkbox+ label:active { 
	    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);     
	}
	/*checkbox为真时的效果*/
	.checkbox:checked + label { 
	    background-color: #fff; 
	    border: 1px solid #92A1AC; 
	    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1); 
	    color: #243441; 
	}
	/*checkbox为真时，label被点击后的效果 */ 			 
	.checkbox:checked + label:after{ 
	    content: '\2714'; 
	    position: absolute; 
	    top:-10px; 
	    left: 0px; 
	    color: #03a9f4; 
	    width: 100%; 
	    text-align: center; 
	    font-size: 1.4em; 
	    padding: 1px 0 0 0; 
	    vertical-align: text-top; 
	}
	
	
	.boxs5{
		box-shadow:0 0 1px #B5B4B4;
		transition:all 0.6s;
	}
	.boxs5:hover {  
		box-shadow:0 0 10px #B5B4B4;
	} 
	
	/*-------------------------------------*/
	.overfh{overflow:hidden;}
	
	
	
	/*-------------------------------------*/
	.itemhide{
	 	display:none;  
	}
	/* 在navs被hover的时候list2的hidden属性被覆盖，就会显现出下拉菜单  */
	.itemshow:hover >.itemhide{
	 	display:block;
	}
	/* 导航刚开始的样子   */
	.itemshow{
		line-height: 50px;/* 让navs在hover的时候 不会使下拉菜单消失 */
	}
	/* item被呼出的效果   */
	.item{
		box-shadow:2px 2px 3px #B5B4B4,-2px 2px 3px #B5B4B4;
	}
	/* item被hover后的效果  */
	.item:hover{
		background:#03a9f4;
		color:#fff;
	}
	
	
	.ishide{
	 	display:none;  
	 	color:#B5B4B4;
	}
	/* 在navs被hover的时候list2的hidden属性被覆盖，就会显现出下拉菜单  */
	.isshow:hover >.ishide{
	 	display:block;
	 	
	}
	/* 导航刚开始的样子   */
	.isshow{
		line-height:50px;/* 让navs在hover的时候 不会使下拉菜单消失 */
		
	}		
	.isshow:hover{
		background-color:#009de6;		
	}
	/* item被呼出的效果   */
	.is{
		box-shadow:1px 1px 2px #B5B4B4,1px 1px 2px #B5B4B4;
	}
	/* item被hover后的效果  */
	.is:hover{
		background:#03a9f4;
		color:#fff;
	}
	/*-------------------------------------*/
	.button-3{
	 border-radius:40px;
	 width: 50px;
	 text-align:center;
	 background: #03a9f4;
	 padding:8px;
	 margin: auto;
	}
	