<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:aop="http://www.springframework.org/schema/aop"  
    xmlns:tx="http://www.springframework.org/schema/tx" 
    xmlns:context="http://www.springframework.org/schema/context"  
    xsi:schemaLocation="
  		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd  
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd  
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd  
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">  
  
  <!-- 1、配置文件方式配置bean -->
  <!-- <bean id="" class="">
  	<property name="" value=""/>
  </bean> -->
  
  <!-- 2、注解方式配置bean -->
  <!--<context:component-scan>会默认激活<context:annotation-config>功能,即可以使用@Resource
  	  若不配置<context:component-scan>，则需要<context:annotation-config/>才可以使用@Resource-->  	     
  <context:component-scan base-package="com.yscxsss.entity,com.yscxsss.service.*" />
  
</beans> 