<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"  
    xmlns:aop="http://www.springframework.org/schema/aop" 
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:p="http://www.springframework.org/schema/p" 
    xsi:schemaLocation="
  		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd  
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd   
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">  
	
	<!-- 方案一:在web.xml中配置defaultServlet的servletMapping -->
	<!-- 方案二:加载静态资源，且位置必须放在最前面，即放在其他配置之前，方案二更方便快捷 -->
	<mvc:resources location="/js/" mapping="/js/**"/> 
	<mvc:resources location="/images/" mapping="/images/**"/>  
	<mvc:resources location="/css/" mapping="/css/**"/>
	
	<!-- 1、配置url与controller之间的映射 -->
	<!-- <bean name="/index" class="com.yscxsss.controller.IndexController"></bean> -->
	<!-- 1.1、启动mvc的注解驱动 -->
	<mvc:annotation-driven />
	<!-- 注解扫描@Controller，使其实例化 -->
	<context:component-scan base-package="com.yscxsss.controller"/>
	
	
	<!-- 2、配置视图解析器 -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<!-- 解析视图字串时添加前缀 -->
		<property name="prefix" value="/WEB-INF/jsp/"></property>
		<!-- 解析视图字串时添加后缀 -->
		<property name="suffix" value=".jsp"></property>
	</bean>
	
	<!-- 3、配置拦截器 -->
	<!-- <mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/sys/**"/>
			<bean ></bean>
		</mvc:interceptor>
	</mvc:interceptors> -->


</beans>